{%- comment -%} /snippets/search-results-item.liquid {%- endcomment -%}
{%- liquid
  assign enable_filters = section.settings.enable_filters
  assign position_filters = section.settings.position_filters
  assign products_columns = settings.products_columns
  assign products_columns_mobile = settings.products_columns_mobile

  if enable_filters
    if position_filters == 'left'
      if products_columns > 2
        assign sizes = '(min-width: 1320px) calc((100vw - 320px - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 1024px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 768px) calc((100vw - 10px) / 3 - 10px), calc(100vw / ' | append: products_columns_mobile | append: ' - 10px)'
      else
        assign sizes = '(min-width: 1320px) calc((100vw - 320px - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 768px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), calc(100vw / ' | append: products_columns_mobile | append: ' - 10px)'
      endif
    else
      if products_columns > 2
        assign sizes = '(min-width: 1320px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 1024px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 768px) calc((100vw - 10px) / 3 - 10px), calc(100vw / ' | append: products_columns_mobile | append: ' - 10px)'
      else
        assign sizes = '(min-width: 1320px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 768px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), calc(100vw / ' | append: products_columns_mobile | append: ' - 10px)'
      endif
    endif
  else
    assign sizes = '(min-width: 1320px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), (min-width: 768px) calc((100vw - 10px) / ' | append: products_columns | append: ' - 10px), calc(100vw / ' | append: products_columns_mobile | append: ' - 10px)'
  endif

  assign widths = '244, 268, 300, 348, 370, 488, 536, 740, 976, 1072, 1480, 1952, 2144, 2960, 3904'
-%}

{%- capture title -%}
<div class="search-results__item__info product-block__info product-block__info--{{ settings.product_title_position }}">
  <div class="search-results__item__title">
    {{- item.title | strip_html | escape -}}
  </div>
</div>
{%- endcapture -%}
<a
  class="search-results__item product-block block {{ grid_block_size }} {{ grid_block_size_mobile }}"
  href="{{ item.url }}"
  title="{{ item.title | strip_html | escape }}"
  aria-label="{{ item.title | strip_html | escape }}">
  <div class="product-block__inner"{% if settings.transition_grid_items %} data-aos="zoom-in-up"{% endif %}>
    <div class="search-results__item__image product-block__image">
      {%- if item.object_type == 'article' -%}
        {%- liquid
          assign alt = item.image.alt | default: item.title
          render 'image' image: item.image, widths: widths, sizes: sizes, alt: alt, modifier: 'search-results__item__img'
        -%}

        <div class="product__badge">
          <span class="product__badge__item">
            {{- 'search.badge.article' | t -}}
          </span>
        </div>
      {%- elsif item.object_type == 'page' -%}
        <div class="product__badge">
          <span class="product__badge__item">
            {{- 'search.badge.page' | t -}}
          </span>
        </div>

        {{- title -}}
      {%- endif -%}
    </div>

    {%- if item.object_type == 'article' -%}
      {{- title -}}
    {%- endif -%}
  </div>
</a>