{% comment %} Settings {% endcomment %}
{%- liquid
  assign header_transparent = section.settings.header_transparent
  assign header_text_color = section.settings.header_text_color
  assign logo_position = section.settings.logo_position
  assign links_position = section.settings.links_position
  assign shop_name = shop.name | escape
  assign show_shop_name = section.settings.show_site_name
  assign cart_item_count = cart.item_count
  if cart_item_count > 9
    assign cart_item_count = '9+'
  endif
-%}

{%- comment -%} Check if there is only one logo set and show it always {%- endcomment -%}
{%- liquid
  assign logo = section.settings.logo
  assign logo_transparent = section.settings.logo_transparent
  assign logo_height_small = 40
  assign logo_width = section.settings.logo_max_width
  assign logo_width_x2 = logo_width | times: 2
  assign sizes = logo_width | append: 'px'
  assign sizes = '500px'
  assign alt = logo.alt | default: shop.name | strip_html | escape
  assign width = logo_width_x2
  assign has_logo_image = false
  assign single_logo = false

  if logo and logo_transparent == blank
    assign single_logo = true
  elsif logo == blank and logo_transparent
    assign single_logo = true
  endif
-%}

{%- capture logo_default -%}
  {%- if logo != blank -%}
    {%- liquid
      assign logo_classes = 'logo__image logo__image--default'
      if single_logo
        assign logo_classes = logo_classes | append: ' logo__image--single'
      endif

      assign logo_height = logo_width | divided_by: logo.aspect_ratio | round
      if logo_height < 40
        assign logo_height_small = logo_height
      endif
      assign logo_width_small = logo_height_small | times: logo.aspect_ratio | round
      assign widths = logo_width_small | append: ', ' | append: logo_width | append: ', ' | append: logo_width_x2

      render 'image' image: logo, loading: 'eager', width: width, widths: widths, sizes: sizes, alt: alt, modifier: logo_classes
    -%}

    {%- style -%}
      .logo__image--default { width: {{ logo_width }}px; height: {{ logo_height }}px; }
      .header--has-scrolled .logo__image--default { width: {{ logo_width_small }}px; height: {{ logo_height_small }}px; }
    {%- endstyle -%}
  {%- endif -%}
{%- endcapture -%}

{%- capture logo_transparent -%}
  {%- if logo_transparent != blank -%}
    {%- liquid
      assign logo_classes = 'logo__image logo__image--transparent'
      if single_logo
        assign logo_classes = logo_classes | append: ' logo__image--single'
      endif

      assign logo_height = logo_width | divided_by: logo_transparent.aspect_ratio | round
      if logo_height < 40
        assign logo_height_small = logo_height
      endif
      assign logo_width_small = logo_height_small | times: logo_transparent.aspect_ratio | round
      assign widths = logo_width_small | append: ', ' | append: logo_width | append: ', ' | append: logo_width_x2

      render 'image' image: logo_transparent, loading: 'eager', width: width, widths: widths, sizes: sizes, alt: alt, modifier: logo_classes
    -%}
   
    {%- style -%}
      .logo__image--transparent { width: {{ logo_width }}px; height: {{ logo_height }}px; }
      .header--has-scrolled .logo__image--transparent { width: {{ logo_width_small }}px; height: {{ logo_height_small }}px; }
    {%- endstyle -%}
  {%- endif -%}
{%- endcapture -%}

<style>
  @media screen and (min-width:1920px){
    .logo__image--transparent, .logo__image--default{ width:128px !important;}
    .menu-item--meganav .submenu-item a.submenu-item__title{
          font-size: calc(1.225rem * var(--FONT-ADJUST-NAV)) !important;
    }
     .nav-standard .submenu-item{
           font-size: calc(1.08rem * var(--FONT-ADJUST-NAV)) !important;
     }
    .nav-standard .menu-item {
          font-size: calc(1.14rem * var(--FONT-ADJUST-NAV)) !important;
    }
  }
</style>

{%- if logo_default != blank or logo_transparent != blank -%}
  {%- assign has_logo_image = true -%}
{%- endif -%}

{%- capture headerClass -%}site-header header--is-standard header--{{ logo_position }}_{{ links_position }}{% if header_transparent %} header--transparent{% endif %}{% unless logo_default or logo_transparent or show_shop_name %} header--no-logo{% endunless %}{%- endcapture -%}

{%- comment -%} Avoid adding too large padding-top to the first banner section if header is not transparent {%- endcomment -%}
{%- unless header_transparent -%}
  {%- style -%}
  @media screen and (max-width: 479px) {
    .shopify-section:first-child .banner--transparent-header,
    .template-page .banner--transparent-header { --header-initial-height: 25px; }
  }
  {%- endstyle -%}
{%- endunless -%}

{%- capture search_popdown -%}
  <header-search-popdown>
    <details>
      <summary class="search-popdown-bar" aria-haspopup="dialog" data-popdown-toggle title="{{ 'search.search' | t }}">
        {%- render 'icon-search' -%}
        <span class="visually-hidden">{{ 'search.search' | t }}</span>
      </summary>

      {%- render 'header-search-popdown' -%}

      <span class="drawer__underlay" data-popdown-underlay></span>
    </details>
  </header-search-popdown>
{%- endcapture -%}

<header
  class="{{ headerClass }}"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  data-transparent="{{ header_transparent }}"
  {% if header_transparent %}data-text-color="{{ header_text_color }}"{% endif %}
  data-header
  data-header-height
  data-scroll-lock-fill-gap>
  <div class="container">
    <div class="row">
      {%- if has_logo_image or show_shop_name -%}
        <h1 class="nav-item logo{% unless has_logo_image %} logo--text-only{% endunless %}{% if settings.type_nav_caps %} caps{% endif %}">
          {%- if has_logo_image -%}
            <a href="{{ routes.root_url }}" class="logo__image-link visible-nav-link" data-width="{{ section.settings.logo_max_width }}" aria-label="{{ shop_name }}" data-logo-image>
              {%- if logo_transparent != blank -%}
                {{- logo_transparent -}}
              {%- endif -%}

              {%- if logo_default != blank -%}
                {{- logo_default -}}
              {%- endif -%}
            </a>
          {%- endif -%}

          {%- if show_shop_name -%}
            <a id="shopName" class="logo__text" href="{{ routes.root_url }}" data-logo-text>{{ shop_name }}</a>
          {%- endif -%}
        </h1>
      {%- endif -%}

      <div class="header-fix-cont">
        <div class="header-fix-cont-inner">
          <nav class="nav-standard nav-main{% if settings.type_nav_caps %} caps{% endif %}" data-nav-main>
            {%- render 'navigation', is_hamburger_nav: false -%}
          </nav>

          <div class="header__icons" data-header-icons>
            <a href="#menu" class="menuToggle" data-target="nav" aria-expanded="false" aria-label="{{ 'general.accessibility.menu_toggle' | t }}" data-menu-toggle>
              <div id="hamburger-menu" class="icon-menu" data-hamburger-icon>
                <div class="diamond-bar"></div>
                <div id="hamburger-bar" class="icon-bar"></div>
              </div>
            </a>

            {%- if shop.customer_accounts_enabled -%}
              <a href="{{ routes.account_url }}" class="nav-item nav-account-link{% unless settings.show_search %} nav-account-link--no-search{% endunless %}" aria-label="{{ 'general.accessibility.account' | t }}">
                {%- render 'icon-user' -%}
              </a>
            {%- endif -%}

            {%- if settings.show_search -%}
              {{ search_popdown }}
            {%- endif -%}

            <a id="cartTotal" href="{{ routes.cart_url }}" class="nav-item cartToggle1{% if settings.cart_icon == 'circle' %} cartToggle--circle{% endif %}{% if cart.item_count == 0 %} cartToggle--empty{% endif %}" data-cart-toggle aria-expanded="false" aria-label="{{ 'general.accessibility.cart' | t }}">
              {%- if settings.cart_icon == 'cart' -%}
                {%- render 'icon-cart' -%}
              {%- else -%}
                {%- render 'icon-circle' -%}
                <div class="cartToggle-items" data-cart-items-count>{{ cart_item_count }}</div>
              {%- endif -%}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} Remove hidden classes to show {% endcomment %}
  <div class="header-cartPopover hidden" data-popover></div>

  <script type="text/x-template" data-popover-template>
    <div class="popover-inner hidden">
      <div class="popover-item-heading h3">{% raw %}({{ it.item_count }}) {{ it.product_title }}{% endraw %} {{ 'cart.labels.items_added' | t }}</div>
      {% raw %}
      <div class="popover-item-thumb">
        <div class="image-wrapper lazy-image" style="--aspect-ratio: 1; --image-backfill: url({{ it.img }}&width=1)">
          <img src="{{ it.img }}&width=240" alt="{{ it.product_title }}" width="120" height="120" loading="eager">
        </div>
      </div>
      <div class="popover-item-info">
        <span class="popover-item-title">{{ it.product_title }}</span>
        {{ @if (it.variation) }}
          <span class="popover-item-variant">{{ it.variation }}</span>
        {{ /if}}

        {{ @if (it.selling_plan_name) }}
          <span class="popover-item-selling-plan">{{ it.selling_plan_name }}</span>
        {{ /if}}

        {{ @if (it.properties) }}
          <div class="popover-item-properties">{{* it.properties }}</div>
        {{ /if}}

          <span class="popover-item-price">{{* it.price_formatted }}</span>

        {{ @if (it.unit_price) }}
          <span class="popover-item-unit-price">{{* it.unit_price }}</span>
        {{ /if}}
      </div>
      {% endraw %}
    </div>
  </script>
</header>

{% comment %} Site Navigation {% endcomment %}
<nav class="nav-hamburger nav-main{% if settings.type_nav_caps %} caps{% endif %}" data-nav-main>
  <button class="nav-mobile-close" aria-expanded="false" aria-label="{{ 'general.accessibility.menu_toggle' | t }}" data-menu-toggle>
    {%- render 'icon-close' -%}
  </button>
  <div class="nav-inner" data-hamburger-scrollable>
    <div class="nav-inner-wrapper">
      {%- render 'navigation', is_hamburger_nav: true -%}
    </div>
  </div>
</nav>

<div class="overlay"></div>

{%- if template != 'cart' and settings.enable_ajax_cart -%}
  <div class="cart-drawer">
    {%- render 'site-cart' -%}
  </div>
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {%- if section.settings.logo or section.settings.logo_transparent -%}
    {%- if section.settings.logo -%}
      {%- assign logo = section.settings.logo -%}
    {%- elsif section.settings.logo_transparent -%}
      {%- assign logo = section.settings.logo_transparent -%}
    {%- endif -%}
    {%- assign image_size = logo.width | append:'x' -%}

    "logo": {{ logo | img_url: image_size | prepend: "https:" | json }},
  {%- endif -%}
  "sameAs": [
    {{ settings.instagram_link | json }},
    {{ settings.facebook_link | json }},
    {{ settings.twitter_link | json }},
    {{ settings.youtube_link | json }},
    {{ settings.vimeo_link | json }},
    {{ settings.pinterest_link | json }},
    {{ settings.tumblr_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{%- if template.name == 'index' -%}
  {%- assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "shopify-section-header",
  "settings": [
    {
      "type": "checkbox",
      "id": "header_transparent",
      "label": "Enable transparent header",
      "default": true,
      "info": "If only the first section has fullscreen background image or video."
    },
    {
      "type": "select",
      "id": "header_text_color",
      "label": "Text color",
      "info": "For transparent header only",
      "default": "white",
      "options": [
        { "label": "White", "value": "white" },
        { "label": "Black", "value": "black" }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo_transparent",
      "label": "Custom logo (Transparent header)",
      "info": "Used on Home and Collection pages when the header is transparent"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo (Default)",
      "info": "Used on the other pages and on scroll when the header is sticky"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "info": "Max logo height is 100px",
      "min": 50,
      "max": 400,
      "default": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "show_site_name",
      "label": "Show site name",
      "default": true
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "menu_list",
      "label": "Primary menu"
    },
    {
      "type": "header",
      "content": "Navigation settings"
    },
    {
      "type": "select",
      "id": "links_position",
      "label": "Links position",
      "default": "links_center",
      "options": [
        {
          "value": "links_left",
          "label": "Left"
        },
        {
          "value": "links_right",
          "label": "Right"
        },
        {
          "value": "links_center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "default": "logo_left",
      "options": [
        {
          "value": "logo_left",
          "label": "Left"
        },
        {
          "value": "logo_center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "Mega menu"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_1",
      "label": "Image 1",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_1",
      "label": "Image aspect ratio 1",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_1",
      "label": "Heading 1"
    },
    {
      "type": "url",
      "id": "meganav_image_link_1",
      "label": "Link 1"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_2",
      "label": "Image 2",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_2",
      "label": "Image aspect ratio 2",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_2",
      "label": "Heading 2"
    },
    {
      "type": "url",
      "id": "meganav_image_link_2",
      "label": "Link 2"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_3",
      "label": "Image 3",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_3",
      "label": "Image aspect ratio 3",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_3",
      "label": "Heading 3"
    },
    {
      "type": "url",
      "id": "meganav_image_link_3",
      "label": "Link 3"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_4",
      "label": "Image 4",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_4",
      "label": "Image aspect ratio 4",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_4",
      "label": "Heading 4"
    },
    {
      "type": "url",
      "id": "meganav_image_link_4",
      "label": "Link 4"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_5",
      "label": "Image 5",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_5",
      "label": "Image aspect ratio 5",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_5",
      "label": "Heading 5"
    },
    {
      "type": "url",
      "id": "meganav_image_link_5",
      "label": "Link 5"
    },
    {
      "type": "image_picker",
      "id": "meganav_image_6",
      "label": "Image 6",
      "info": "Recommended size: 500 x 800 px"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio_6",
      "label": "Image aspect ratio 6",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1
    },
    {
      "type": "text",
      "id": "meganav_image_heading_6",
      "label": "Heading 6"
    },
    {
      "type": "url",
      "id": "meganav_image_link_6",
      "label": "Link 6"
    }
    
  ],
  
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}