{%- layout 'password' -%}

<div class="password__container" id="SiteContainer" data-section-type="password" data-section-id="{{ section.id }}">>
{%- if section.settings.background != blank -%}
  {%- render 'image' image: section.settings.background, modifier: 'password__background' %}
{%- else -%}
  <div class="password__background" style="background-image: url( {{ 'password.jpg' | asset_url }} );"></div>
{%- endif -%}
  <div class="password__overlay"></div>
  <div class="container">
    <div class="password-wrapper row row-sm u-center">
      <div class="logo__wrapper">
        {%- if section.settings.logo != blank -%}
          {%- liquid
            assign logo = section.settings.logo
            assign logo_width = section.settings.logo_width
            assign logo_width_x2 = logo_width | times: 2
            assign sizes = logo_width | append: 'px'
            assign widths = logo_width | append: ', ' | append: logo_width_x2
          -%}
          <a href="{{ routes.root_url }}" class="logo" style="width: {{ logo_width }}px;">
            {%- render 'image' image: logo, width: width, sizes: sizes, widths: widths -%}
          </a>
        {%- else -%}
          <h1 class="logo logo--text" itemscope itemtype="http://schema.org/Organization">
            <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name | escape }}</a>
          </h1>
        {%- endif -%}
      </div>

      <div class="password__signup">
        <h1>{{ 'password.content.welcome_headline' | t }}</h1>

        {% unless section.settings.text_newsletter == blank %}
          <div class="password__newsletter-text">
            {{ section.settings.text_newsletter }}
          </div>
        {% endunless %}

        <div class="signup-form">

          {%- form 'customer' -%}
            {%- unless shop.password_message == blank -%}
              {%- unless form.posted_successfully? -%}
                <p class="password__message">{{ shop.password_message }}</p>
              {%- endunless -%}
            {% endunless %}

            {%- if form.errors -%}
              <div class="feedback error p">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            {%- if form.posted_successfully? -%}
              <p>{{ 'password.forms.success' | t }}</p>
            {%- else -%}
              <input type="hidden" name="contact[tags]" value="prospect, password page, newsletter subscriber">
              <div class="input-group{% if form.errors %} input-group--error{% endif %}">
                <p class="form-field form-field--email">
                  <input type="email" name="contact[email]" id="email" class="email" placeholder="{{ 'password.forms.email_placeholder' | t }}"
                  {%- if form.errors contains 'email' -%}
                    aria-invalid="true"
                  {%- endif -%}
                  >
                  <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
                  <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
                </p>
                <p class="form-field form-field--submit">
                  <input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
                </p>
              </div>
            {%- endif -%}
          {%- endform -%}
        </div>

      </div>

      <div class="password__login">

        <h3>{{ 'password.forms.enter_password_title' | t }}</h3>

        <div class="signup-form">

          {%- form 'storefront_password' -%}

            {%- if form.errors -%}
              <div class="feedback error p">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <div class="input-group{% if form.errors %} input-group--error{% endif %}">
              <p class="form-field form-field--password">
                <input type="password" name="password" class="password inline" placeholder="{{ 'password.forms.enter_password_placeholder' | t }}">
              </p>
              <p class="form-field form-field--submit">
                <input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
              </p>
            </div>
            <p class="form-field">
              <label>{{ 'password.content.admin_link' | t }} <a href="/admin">{{ 'password.content.admin_login' | t }}</a></label>
            </p>

          {%- endform -%}
        </div>
      </div>

      <footer class="password__footer">
        <p>{{ powered_by_link }}</p>
      </footer>

    </div><!-- End password-wrap -->
  </div>
</div>

{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Custom logo width (in pixels)",
      "info": "Max logo height is 100px",
      "min": 50,
      "max": 400,
      "default": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "text_newsletter",
      "label": "Text"
    }
  ]
}
{% endschema %}
